- name: Check installed programs on Ubuntu
  hosts: "{{ target_hosts | default('all') }}"
  become: yes

  vars:
    apt_programs:
      - libreoffice
      - git
      - vlc
    snap_programs:
      - pycharm-professional

  tasks:

    - name: Check APT programs
      shell: dpkg-query -W -f='${Package} ${Version} ${Installed-Size}\n' {{ item }}
      register: apt_info
      ignore_errors: yes
      loop: "{{ apt_programs }}"

    - name: Show APT programs info
      debug:
        msg: "PC {{ inventory_hostname }}: {{ item.stdout }}"
      loop: "{{ apt_info.results }}"

    - name: Check Snap programs
      shell: snap list {{ item }} | awk 'NR==2 {print $1, $2, $3}'
      register: snap_info
      ignore_errors: yes
      loop: "{{ snap_programs }}"

    - name: Show Snap programs info
      debug:
        msg: "PC {{ inventory_hostname }}: {{ item.stdout }}"
      loop: "{{ snap_info.results }}"
